<!DOCTYPE html>

<html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <title>Employee Manager</title>
        <link href="~/Styles/site.css" rel="stylesheet" />
    </head>
    <body>
        <h1>Employee Manager</h1>
        <hr />
        <div>
            @RenderBody()
        </div>
        <hr />
    </body>
</html>
